{{define "details"}}
<a href="http://www.walbrix.com/jp/blog/" target="_blank">会社のブログ</a>にて、<a href="" ng-click="wikipedia('AngularJS')">AngularJS<span class="glyphicon glyphicon-question-sign"></span></a>関係の技術記事ということで表題のものを書きます。これも全く会社の売上につながらないため、いくら書いたところで代表である私の月給は 85,000円のままビタイチ増えないのですが、何かくれる人がいるなら書きたいと思います。</p>

<p><a href="https://github.com/danialfarid/angular-file-upload" target="_blank">angular-file-upload</a> (GitHub)</p>

<p><a href="http://www.cdnjs.com/libraries/danialfarid-angular-file-upload" target="_blank">CDNから利用するならここ</a> (cdnjs.com)</p>

<p></p>

{{end}}
