{{define "title"}}{{if .title}}{{.title}} - {{end}}ネット乞食{{end}}
{{define "content"}}
<p><a href="./"><span class="glyphicon glyphicon-arrow-left"></span> 一覧に戻る</a></p>
<h1>{{.title}} <small>〜ネット乞食〜</small></h1>
<p class="lead">{{.description}}</p>

{{if .done}}
<p>獲得額: ￥{{.acquired}}</p>
{{else if .goal}}
<p>目標額: ￥{{.goal}}<br>
獲得額: ￥{{.acquired}}</p>
{{end}}

<p><a href="https://twitter.com/share" class="twitter-share-button" data-text="{{.title}}: {{.description}} - ネット乞食" data-lang="ja" data-hashtags="netkjk">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

<h2>詳細説明</h2>
{{template "details"}}

{{if not .done}}<h3>お恵みいただける場合</h3><p>Amazonの <a href="http://www.amazon.co.jp/registry/wishlist/2YXA24GA8MONU?sort=universal-price" target="_blank">このウィッシュリスト<span class="glyphicon glyphicon-link"></span></a><small>※</small>から適当なものをお恵みください。お恵みの際は欲しいものリストから品物を送る際のメッセージに <strong>{{.code}}</strong> と書き添えてください。金額が「獲得額」に<small>手動で</small>加算され、目標額に達したらそれをやります（目標額は目安ですので、それに達していなくてもやる場合があります）。</p>

<p><small>ウィッシュリスト＝欲しいものリスト。リストにある品物をその人に誰でも買ってあげることが出来ます</small></p>

<p>品物のご提供があった時は日時と金額をこのページに追記しますが、ご提供くださった方に関する情報は「公開可」とのお申し添えがない限り掲載いたしません。</p>{{end}}

<h3>他にやること</h3>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>最終更新日</th><th>題名</th><th>説明</th><th>獲得額/目標額<br>(めやす)</th>
    </tr>
  </thead>
  <tbody>
    {{range $index, $page := pages}}{{if and (not .done) (ne .name $.name) }}
    <tr>
      <td class="text-nowrap">{{$page.last_update}}</td>
      <td><a href="{{$page.name}}.html">{{$page.title}}</a></td>
      <td>{{$page.description}}</td>
      <td class="text-nowrap">￥{{$page.acquired}}/￥{{$page.goal}}</td>
    </tr>
    {{end}}{{end}}
  </tbody>
</table>
</div>

<p><a href="https://twitter.com/share" class="twitter-share-button" data-text="{{.title}}: {{.description}} - ネット乞食" data-lang="ja" data-hashtags="netkjk">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

<p><a href="./"><span class="glyphicon glyphicon-arrow-left"></span> 一覧に戻る</a></p>

<p>このサイトのプログラムは <a href="http://golang.org/">Go言語</a>で書かれています。(<a href="https://github.com/shimarin/shimarin.com/blob/master/app.go">ソース</a>)</p>

{{end}}
