{{define "title"}}{{if .title}}{{.title}} - {{end}}ネット乞食{{end}}
{{define "content"}}
<p><a href="./"><span class="glyphicon glyphicon-arrow-left"></span> 一覧に戻る</a></p>
<div ng-controller="NetKjkController">
<h1>{{.title}} <small>〜ネット乞食〜</small></h1>
<p class="lead">{{.description}}</p>

{{if .done}}
<p>獲得額: ￥{{.acquired}}</p>
{{else if .goal}}
<p>目標額: ￥{{.goal}}<br>
獲得額: ￥{{.acquired}}</p>
{{end}}

<p><a href="" ng-click="about()"><span class="glyphicon glyphicon-question-sign"></span>ネット乞食とは？</a></p>

<p><a href="https://twitter.com/share" class="twitter-share-button" data-text="{{.title}}: {{.description}} - ネット乞食" data-lang="ja" data-hashtags="netkjk">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

<h2>詳細説明</h2>
{{template "details"}}

{{if not .done}}
<h3>お恵みいただける場合</h3>
<p>方法はふたつあります。</p>
<ul>
  <li>支援する物資を<a href="http://www.amazon.co.jp/registry/wishlist/2YXA24GA8MONU?sort=universal-price" analytics-on="click" analytics-event="Wishlist" target="_blank">Amazonのウィッシュリスト(ほしいものリスト)</a>から選んで送付する</li>
  <li><a href="https://www.amazon.co.jp/gp/product/B004N3APGO" target="_blank">Amaznoギフト券</a>をメールアドレス <a href="mailto:netkjk01@shimarin.com">netkjk01@shimarin.com</a> へ送る</li>
</ul>

<p>品物をお恵みの際はギフトメッセージ(注文の最終確認画面から「ギフト設定」で設定できます)に、Amazonギフト券をお恵みの場合はメッセージに <strong>{{.code}}</strong> と書き添えてください。金額が「獲得額」に<small>手動で</small>加算され、目標額に達したらそれをやります（目標額は目安ですので、それに達していなくてもやる場合があります）。</p>

<p><small>ウィッシュリスト＝欲しいものリスト。リストにある品物をその人に誰でも買ってあげることが出来ます<br>Amazonギフト券＝Amazonで使用できる商品券です。今は大体なんでも Amazonで買えるので日本円並に強力な通貨といえます</small></p>

<p>おめぐみ頂いた際には日時と金額をこのページに追記しますが、ご提供くださった方に関する情報は「公開可」とのお申し添えがない限り掲載いたしません。</p>
{{end}}

<h3>他にやること</h3>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>最終更新日</th><th>題名</th><th>説明</th><th>獲得額/目標額<br>(めやす)</th>
    </tr>
  </thead>
  <tbody>
    {{range $index, $page := pages}}{{if and (not .done) (ne .name $.name) }}
    <tr>
      <td class="text-nowrap">{{$page.last_update}}</td>
      <td><a href="{{$page.name}}.html">{{$page.title}}</a></td>
      <td>{{$page.description}}</td>
      <td class="text-nowrap">￥{{$page.acquired}}/￥{{$page.goal}}</td>
    </tr>
    {{end}}{{end}}
  </tbody>
</table>
</div>

<p><a href="https://twitter.com/share" class="twitter-share-button" data-text="{{.title}}: {{.description}} - ネット乞食" data-lang="ja" data-hashtags="netkjk">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

 <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'shimarin'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
<p><a href="./"><span class="glyphicon glyphicon-arrow-left"></span> 一覧に戻る</a></p>

<p>このサイトのプログラムは <a href="http://golang.org/">Go言語</a>で書かれています。(<a href="https://github.com/shimarin/shimarin.com/blob/master/app.go">ソース</a>)</p>
</div>

<script type="text/ng-template" id="about.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
    <h3>ネット乞食とは？</h3>
  </div>
  <div class="modal-body">
    <p>私、自分の会社を運営しているのですが、社の売上はほとんど事務所の維持費や研究開発費、バイトの給料や交通費などに消えてしまうため、代表である私の給料は月額 85,000円しか出ていません。年収にするとだいたい100万円です。その金額で単純に私をカテゴライズすると「貧困」ということになります。東京には住めないので電車で2時間かかる地方の、駅からさらに徒歩1時間のところに車も持たずに暮らしています。昨年シリコンバレーに1ヶ月半ほど暮らした時も、激安トルティーヤにチーズだけ乗せてレンチンしたものを食べてしのいでいました。</p>

    <p>というわけで日々の食料にも困ることがたまにある有様なので、生きるための物資を支援していただけたらこれをしますというリストをまとめて物乞いをしてみることにしました。支援する物資はAmazonのウィッシュリストから選んで頂けます。</p>

    <p>それぞれの「やること」には目標額が設定されており、支援物資の総額がそれに達するごとに取り組まれます。達しなくても取り組むかもしれません。支援物資を送っていただく際に、どの「やること」に対する支援なのか指定いただけます。指定がない場合は適当なものに割り振ります。</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">わかった、もういい</button>
  </div>
</script>
{{end}}
