{{define "title"}}{{if .title}}{{.title}} - {{end}}ネット乞食{{end}}
{{define "content"}}
<h2>{{.title}}</h2>
<p>{{.description}}</p>
{{if .done}}
<p>獲得額: ￥{{.acquired}}</p>
{{else if .goal}}
<p>目標額: ￥{{.goal}}<br>
獲得額: ￥{{.acquired}}</p>
{{end}}
{{template "details"}}

{{if not .done}}<p>Amazonの <a href="http://www.amazon.co.jp/registry/wishlist/2YXA24GA8MONU?sort=universal-price" target="_blank">このウィッシュリスト</a>から適当なものをお恵みください。お恵みの際は欲しいものリストから品物を送る際のメッセージに <strong>{{.code}}</strong> と書き添えてください。</p>{{end}}

<p><a href="./">一覧に戻る</a></p>
{{end}}
