{{define "details"}}
<p><a href="" ng-click="wikipedia('EC-CUBE')">EC-CUBE<span class="glyphicon glyphicon-question-sign"></span></a>バージョン2.13の機能強化点は下記で説明されています。消費税率の管理が強化されているようです。</p>
<p><a href="http://www.ec-cube.net/product/info_2_13.php" target="_blank">EC-CUBE 2.13について</a> (ec-cube.net)</p>
<p>Walbrixを使って立ち上げたサービスはそのままだと<a href="" ng-click="wikipedia('プライベートネットワーク')">プライベートネットワーク<span class="glyphicon glyphicon-question-sign"></span></a>内でのみ利用できるのですが、<a href="" ng-click="wikipedia('ECサイト')">ECサイト<span class="glyphicon glyphicon-question-sign"></span></a>を閉じたネットワークの中で運用することはよほどの大組織でもない限りないと思いますので、この仮想アプライアンスは <a href="www.wbport.com" target="_blank">WBPORT.com</a> と組み合わせて使うことになるのかなと思います。</p>
<p>Walbrixの<a href="" ng-click="wikipedia('仮想アプライアンス')">仮想アプライアンス<span class="glyphicon glyphicon-question-sign"></span></a>は私の時間がある時に追加したり更新したりしてるのですが、無料で提供しているため<a href="http://www.walbrix.com/jp/" target="_blank">会社</a>の売上に（少なくとも直接は）なりません。よって代表である私の月給も 85,000円のままビタイチ増えません。というわけで、せめて食料など恵んでいただけたら生きていけます。食料じゃなくてフィギュアなら和みます。</p>
{{end}}
