{{define "title"}}ネット乞食{{end}}
{{define "content"}}
<div class="jumbotron" style="text-align: center; background-color: transparent;">
  <h1>ネット乞食</h1>
  <p>右や左のご主人様、お嬢様</p>
</div>
<div ng-controller="NetKjkController">
<p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

<h3>このページは何？</h3>
<p>私、自分の<a href="http://www.walbrix.com/jp/">会社</a>を運営しているのですが、社の売上はほとんど事務所の維持費や<a href="" ng-click="wikipedia('研究開発')">研究開発<span class="glyphicon glyphicon-question-sign"></span></a>費、バイトの給料や<a href="" ng-click="wikipedia('交通費')">交通費<span class="glyphicon glyphicon-question-sign"></span></a>などに消えてしまうため、代表である私の給料は月額 85,000円しか出ていません。年収にするとだいたい100万円です。その金額で単純に私をカテゴライズすると「<a href="" ng-click="wikipedia('貧困')">貧困<span class="glyphicon glyphicon-question-sign"></span></a>」ということになります。東京には住めないので電車で2時間かかる地方の、駅からさらに徒歩1時間のところに車も持たずに暮らしています。昨年<a href="" ng-click="wikipedia('シリコンバレー')">シリコンバレー<span class="glyphicon glyphicon-question-sign"></span></a>に1ヶ月半ほど暮らした時も、激安<a href="" ng-click="wikipedia('トルティーヤ')">トルティーヤ
<span class="glyphicon glyphicon-question-sign"></span>
</a>にチーズだけ乗せてレンチンしたものを食べてしのいでいました。</p>

<p>というわけで日々の食料にも困ることがたまにある有様なので、生きるための物資を支援していただけたらこれをしますというリストをまとめて物乞いをしてみることにしました。支援の方法はふたつあります。</p>

<ul>
  <li>支援する物資を<a href="http://www.amazon.co.jp/registry/wishlist/2YXA24GA8MONU?sort=universal-price" target="_blank">Amazonのウィッシュリスト</a>から選んで送付する</li>
  <li><a href="https://www.amazon.co.jp/gp/product/B004N3APGO" target="_blank">Amaznoギフト券</a>をメールアドレス <a href="mailto:netkjk01@shimarin.com">netkjk01@shimarin.com</a> へ送る</li>
</ul>

<p><small>ウィッシュリスト＝欲しいものリスト。リストにある品物をその人に誰でも買ってあげることが出来ます<br>Amazonギフト券＝Amazonで使用できる商品券です。今は大体なんでも Amazonで買えるので日本円並に強力な通貨といえます</small></p>

<p>それぞれの「やること」には目標額が設定されており、支援物資の総額がそれに達するごとに取り組まれます。達しなくても取り組むかもしれません。支援物資を送っていただく際に、どの「やること」に対する支援なのか指定いただけます。指定がない場合は適当なものに割り振ります。</p>

<h3>やれること</h3>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>最終更新日</th><th>題名</th><th>説明</th><th>獲得額/目標額<br>(めやす)</th>
    </tr>
  </thead>
  <tbody>
    {{range $index, $page := pages}}{{if and (not $page.done) (lt $page.acquired $page.goal) }}
    <tr>
      <td class="text-nowrap">{{$page.last_update}}</td>
      <td><a href="{{$page.name}}.html">{{$page.title}}</a></td>
      <td>{{$page.description}}</td>
      <td class="text-nowrap">￥{{$page.acquired}}/￥{{$page.goal}}</td>
    </tr>
    {{end}}{{end}}
  </tbody>
</table>
</div>

<h3>やること</h3>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>最終更新日</th><th>題名</th><th>説明</th><th>獲得額/目標額<br>(めやす)</th>
    </tr>
  </thead>
  <tbody>
    {{range $index, $page := pages}}{{if and (not $page.done) (ge $page.acquired $page.goal) }}
    <tr>
      <td class="text-nowrap">{{$page.last_update}}</td>
      <td><a href="{{$page.name}}.html">{{$page.title}}</a></td>
      <td>{{$page.description}}</td>
      <td class="text-nowrap">￥{{$page.acquired}}/￥{{$page.goal}}</td>
    </tr>
    {{end}}{{end}}
  </tbody>
</table>
</div>


<h3>やりおわったこと</h3>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>最終更新日</th><th>題名</th><th>説明</th><th>獲得額</th>
    </tr>
  </thead>
  <tbody>
    {{range $index, $page := pages}}{{if $page.done}}
    <tr>
      <td class="text-nowrap">{{$page.last_update}}</td>
      <td><a href="{{$page.name}}.html">{{$page.title}}</a></td>
      <td>{{$page.description}}</td>
      <td>￥{{$page.acquired}}</td>
    </tr>
    {{end}}{{end}}
  </tbody>
</table>
</div>
<hr>
<div class="row">
<div class="col-sm-7">
<h3>インドの乞食とIT業界</h3>
<p>ここまで読んでる人いないと思うから言いたいこと書いておきますね。</p>
<p>私はインドで路上に溢れる乞食を見てきました。政府はこの人達に仕事を与えようとしますが、彼らは仕事を与えられてもいつの間にかまた乞食に戻っているそうです。これを怠惰といってしまえばそれまでなのですが、働くより乞食のほうが低い労働力でそれなりの対価を得られるからという合理的な理由がちゃんとあることも見逃せません。</p>
<p>さて、ITエンジニアというものはただシステムを組み立てる仕事と思われがちですが、コンピュータのシステムは業務の全てに影響するため、プロジェクトのあらゆる「しわ寄せ」や時には「矛盾」を受け止める過酷な仕事になりがちです。この仕事では、年収を100万円から倍の200万円にしようとすれば3倍の、5倍の500万円にしようとすれば10倍以上の仕事量と責任が発生します（そして当然累進課税です）。要するに、働いた分報われないのです。精神を病んでしまうITエンジニアが後を絶たないのは、この不公平のスパイラルに飲み込まれるからです。</p>
<p>このページは「ITやるくらいなら、こじきでもやったほうがマシ」というアイロニーを暗に含んでいたりいなかったりします。</p>
</div>
<div class="col-sm-5">

<p class="text-center"><a class="twitter-timeline" href="https://twitter.com/hashtag/netkjk" data-widget-id="499029760236736513">#netkjk Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
</div><!--col-->
</div><!--row-->

<p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>


 <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'shimarin'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscri\
pt>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<div>

<p><a href="/">shimarin.comトップへ</a></p>
{{end}}
