{{define "title"}}ネット乞食{{end}}
{{define "content"}}
<div class="jumbotron" style="text-align: center; background-color: transparent;">
  <h1>ネット乞食</h1>
  <p>右や左のご主人様、お嬢様</p>
</div>

<p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

<h3>このページは何？</h3>
<p>あわれなこじきです、あにき</p>

<h3>これからやること</h3>
<table class="table">
  <thead>
    <tr>
      <th>最終更新日</th><th>題名</th><th>説明</th><th>獲得額/目標額<br>(めやす)</th>
    </tr>
  </thead>
  <tbody>
    {{range $index, $page := pages}}{{if not $page.done}}
    <tr>
      <td class="text-nowrap">{{$page.last_update}}</td>
      <td><a href="{{$page.name}}.html">{{$page.title}}</a></td>
      <td>{{$page.description}}</td>
      <td class="text-nowrap">￥{{$page.acquired}}/￥{{$page.goal}}</td>
    </tr>
    {{end}}{{end}}
  </tbody>
</table>

<h3>やりおわったこと</h3>
<table class="table">
  <thead>
    <tr>
      <th>最終更新日</th><th>題名</th><th>説明</th><th>獲得額</th>
    </tr>
  </thead>
  <tbody>
    {{range $index, $page := pages}}{{if $page.done}}
    <tr>
      <td class="text-nowrap">{{$page.last_update}}</td>
      <td><a href="{{$page.name}}.html">{{$page.title}}</a></td>
      <td>{{$page.description}}</td>
      <td>{{$page.acquired}}</td>
    </tr>
    {{end}}{{end}}
  </tbody>
</table>

<p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

<p class="text-center"><a class="twitter-timeline" href="https://twitter.com/hashtag/netkjk" data-widget-id="499029760236736513">#netkjk Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

<p><a href="/">shimarin.comトップへ</a></p>
{{end}}
