{{define "details"}}
<p><a href="http://www.walbrix.com/jp/" target="_blank">会社</a>の売上はほとんど事務所の維持費や事務バイトの給料などに消えてしまうため、代表である私の給料は月額 85,000円しか出ていません。年収にするとだいたい100万円です。東京には住めないので電車で2時間かかる地方の、駅からさらに徒歩1時間のところに暮らしています。するとどうでしょう、<a href="" ng-click="wikipedia('住民税')">住民税<span class="glyphicon glyphicon-question-sign"></span></a>は<strong>年間7,000円</strong>となりました。４期にわけて4,000円・1,000円・1,000円・1,000円と納められるようになっています。スゴイ・慈悲！いっぺんに納めると飢えてしまうこの私には神のように見えます。そして次なる神はあなたです。千円分お恵みいただくたびに一期分納めてきます。</p>

<p><img src="juminzei.jpg" class="img-responsive img-thumbnail"></p>

<p>※納期限は2期目のものです</p>

<h3>2014-08-22更新</h3>

<p><a href="http://www.amazon.co.jp/dp/B0038W092Q" target="_blank">オールドエルパソ フラワートルティーヤ 400g(10枚)</a>をもらいましたのでこちらに割り振りさせていただきました。</p>

{{end}}
