{{define "details"}}
<p>公式サイト: <a href="http://kandanapp.com/" target="_blank">KandanApp</a><p>
<p>日本語の紹介記事: <a href="http://ganeza.hatenablog.com/entry/2014/03/17/Kandan%E3%81%A7%E3%83%81%E3%83%A3%E3%83%83%E3%83%88%E3%82%B5%E3%83%BC%E3%83%90%E7%AB%8B%E3%81%A6%E3%81%A6%E3%81%BF%E3%81%9F">Kandanで社内にチャットサーバ立ててみた</a> (gaenza.hatenablog.com)</p>
<p><a href="http://www.walbrix.net/va/redmine.html" target="_blank">Redmine</a>などもそうですが、<a href="" ng-click="wikipedia('Ruby_on_Rails')">Ruby on Rails<span class="glyphicon glyphicon-question-sign"></span></a>
モノは例外なくセットアップが難しいので <a href="http://www.walbrix.net" target="_blank">Walbrix</a>ですぐに使えると嬉しいという人は一定数いるようです（が定かではありません）</p>
<p>Walbrixの仮想アプライアンスは私の時間がある時に追加したり更新したりしてるのですが、無料で提供しているため<a href="http://www.walbrix.com/jp/" target="_blank">会社</a>の売上に（少なくとも直接は）なりません。よって代表である私の月給も 85,000円のままビタイチ増えません。というわけで、せめて食料など恵んでいただけたら生きていけます。食料じゃなくてフィギュアなら和みます。</p>
{{end}}
