{{define "details"}}
<p><a href="" ng-click="wikipedia('Movable_Type')">Movable Type<span class="glyphicon glyphicon-question-sign"></span></a>は何故か日本で企業などへの普及率が高い<a href="" ng-click="wikipedia('コンテンツマネージメントシステム')">CMS<span class="glyphicon glyphicon-question-sign"></span></a>です。</p>
<p>Movable Type バージョン5までは<a href="http://www.movabletype.jp/faq/movable-type-5-mtos.html" target="_blank">コア機能に限定した「オープンソース版」</a>が有償版とは別にリリースされていました。最新のバージョン6では<a href="http://www.movabletype.jp/blog/about_movabletype6_license_change.html" target="_blank">オープンソース版が廃止</a>となっていますが、バージョン5のオープンソース版は存続しており一応まだ修正が行われています。</p>

<p>Walbrixの<a href="" ng-click="wikipedia('仮想アプライアンス')">仮想アプライアンス<span class="glyphicon glyphicon-question-sign"></span></a>は私の時間がある時に追加したり更新したりしてるのですが、無料で提供しているため<a href="http://www.walbrix.com/jp/" target="_blank">会社</a>の売上に（少なくとも直接は）なりません。よって代表である私の月給も 85,000円のままビタイチ増えません。というわけで、せめて食料など恵んでいただけたら生きていけます。食料じゃなくてフィギュアなら和みます。</p>

{{end}}
