{{define "details"}}
<p><a href="" ng-click="wikipedia('OpenVPN')">OpenVPN
<span class="glyphicon glyphicon-question-sign"></span>
</a>クライアントと<a href="http://ja.wikipedia.org/wiki/Point_to_Point_Tunneling_Protocol" target="_blank">PPTP</a>クライアントが相互に通信できるような異種混合 <a href="" ng-click="wikipedia('Virtual_Private_Network')">VPN<span class="glyphicon glyphicon-question-sign"></span></a>サーバをさくらVPSのようなグローバルIPアドレス持ちのサーバに作る方法を<a href="http://www.walbrix.com/jp/blog/">ブログ</a>の記事にします。<a href="" ng-click="wikipedia('Debian')">Debian<span class="glyphicon glyphicon-question-sign"></span></a>用です。お客様用に構築した時の手順を <a href="" ng-click="wikipedia('Evernote')">Evernote<span class="glyphicon glyphicon-question-sign"></span></a>にメモしてあったので、それをもとに書き起こします。</p>

<p>手順に登場する主なファイルはこんなです。</p>

<pre>
/etc/network/interfaces 
/etc/pptpd.conf
/etc/ppp/options
/etc/ppp/chap-secrets

/etc/sysctl.conf
/etc/iptables/rules/v4

/etc/openvpn/openvpn.conf
/etc/openvpn/ca.crt
/etc/openvpn/dh1024.pem
/etc/openvpn/server.crt
/etc/openvpn/server.key
/etc/openvpn/auth.txt
</pre>
{{end}}
