{{define "details"}}
<p><a href="http://www.walbrix.net" target="_blank">Walbrix</a>で利用可能な<a href="" ng-click="wikipedia('仮想アプライアンス')">仮想アプライアンス<span class="glyphicon glyphicon-question-sign"></span></a>で最も人気のあるのが <a href="http://www.walbrix.net/va/owncloud.html">ownCloud</a>のようです。といっても、<a href="http://www.walbrix.com/jp/" target="_blank">弊社</a>では正確に Walbrixの利用実態を把握しているわけではない（ぶっちゃけた話 Walbrixの利用者自体が数えるほどしかいないため集計する意味が無い）のですが。</p>

<p>この ownCloudを最新版に更新して Walbrixで利用出来るようにします。</p>

<p>Walbrixの仮想アプライアンスは私の時間がある時に追加したり更新したりしてるのですが、無料で提供しているため<a href="http://www.walbrix.com/jp/" target="_blank">会社</a>の売上に（少なくとも直接は）なりません。よって代表である私の月給も 85,000円のままビタイチ増えません。というわけで、せめて食料など恵んでいただけたら生きていけます。食料じゃなくてフィギュアなら和みます。</p>

<h3>ownCloud 7の新機能</h3>
<p>(<a href="http://owncloud.jp/forum/index.php/Thread/19-ownCloud-7/" target="_blank">owncloud.jpのフォーラム投稿</a>より引用)</p>
<ul>
<li>新しいサイドバー表示とユーザーインタフェースの改善</li>
<li>無限スクロールとファイルリストのソートサポート</li>
<li>"Shared" 共有フォルダの移動 - 共有フォルダ"Shared"がどこにでも移動できます。</li>
<li>共有情報が新しい共有一覧も含めて、分かりやすくなります。</li>
<li>グループ管理の改良と新しいユーザー管理インターフェース</li>
<li>ownCloud Document(アプリ)で注釈ができるようになりました。また、MS Word をサポートします。</li>
<li>同期スピードが向上</li>
<li>固定css/jsファイルとよりAJAX化により、WebUIスピードを大きく改善</li>
<li>サーバーからサーバーへの共有の最初のリリース</li>
<li>アクティビティアプリが新しいデザインになり、改善</li>
<li>アクティビティの通知をメールで送信可能</li>
<li>SWIFTオブジェクトストレージをプライマリストレージとしてサポート</li>
<li>タブレットスマートフォンでのレスポンシブルデザインへの改良</li>
</ul>

<h3>2014-08-18更新</h3>

<p>Amaznoギフト券にて 1,000円のご支援をいただきました。目標額達成となります。実行完了したらこのページでお知らせします（し、<a href="http://twitter.com/wbsupport" target="_blank">公式にアナウンス</a>もするでしょう）。</p>

<p>同日追記: ownCloud仮想アプライアンスを更新し、<a href="http://forum.walbrix.net/t/owncloud/34" target="_blank">フォーラム</a>にて告知しました。Office文書のプレビュー生成には対応していません。（LibreOfficeを同梱すると恐ろしくサイズが大きくなるため）</p>

<p><img src="owncloud01.png" class="img-responsive img-thumbnail"></p>

{{end}}
