{{define "details"}}
<p>会社のブログで以前に書いていた<a href="http://www.walbrix.com/jp/blog/sjsj.html" target="_blank">ScalaのようでJavaだけど少しScalaなJSON API</a>というテーマのシリーズ記事を書き足します。</p>
<p>からっからに枯れたトランザクション管理機構を持つ <a href="" ng-click="wikipedia('Spring_Framework')">Spring Framework<span class="glyphicon glyphicon-question-sign"></span></a>と、記述が楽でコーディングのよく進む <a href="http://ja.wikipedia.org/wiki/Scala" target="_blank">Scala</a>の組み合わせがテーマになっています。記事中でも述べていますが、なぜわざわざ Scalaで Springなのかっていうと、Better Javaとしての領域を超えて使おうと思うほど Scalaの将来性を信頼していないからです（自分にとって書きやすいっていうのと、みんなに理解され支持されるっていうのは別の話）。なので一連の記事は Scalaの記事として見るとわりと最低です。</p>
{{end}}
