{{define "details"}}
<p><a href="http://www.vtigercrm.jp/" target="_blank">vtiger CRM</a>は、<a href="" ng-click="wikipedia('SugarCRM')">SugarCRM<span class="glyphicon glyphicon-question-sign"></span></a>のコミュニティエディションをベースに開発されているオープンソースの<a href="" ng-click="wikipedia('顧客関係管理')">CRM<span class="glyphicon glyphicon-question-sign"></span></a>ソフトウェアです。</p>

<p>日本語版6.0は Betaという扱いのようなので、Walbrixでの扱いもテスト版としてコード入力によるダウンロードの形になると思います。</p>

<p>Walbrixの<a href="" ng-click="wikipedia('仮想アプライアンス')">仮想アプライアンス<span class="glyphicon glyphicon-question-sign"></span></a>は私の時間がある時に追加したり更新したりしてるのですが、無料で提供しているため<a href="http://www.walbrix.com/jp/" target="_blank">会社</a>の売上に（少なくとも直接は）なりません。よって代表である私の月給も 85,000円のままビタイチ増えません。というわけで、せめて食料など恵んでいただけたら生きていけます。食料じゃなくてフィギュアなら和みます。</p>

<h3>2014-08-19更新</h3>

<p>Amaznoギフト券にて 1,000円のご支援をいただきました。目標額達成です。実行完了したらこのページでお知らせします（し、<a href="http://twitter.com/wbsupport" target="_blank">Twitter</a>や<a href="http://forum.walbrix.net">サポートフォーラム</a>で公式にアナウンス</a>もするでしょう）。</p>

<h3>2014-08-28更新</h3>

<blockquote class="twitter-tweet" lang="ja"><p>vtiger CRMの Walbrix用仮想アプライアンスをテスト版という位置づけで公開しました。&#10;<a href="http://t.co/xu4U2CITO2">http://t.co/xu4U2CITO2</a></p>&mdash; Walbrix お知らせとサポート (@wbsupport) <a href="https://twitter.com/wbsupport/statuses/504978348229926912">2014, 8月 28</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p><img src="vtigercrm01.png" class="img-responsive img-thumbnail"></p>
{{end}}
