{{define "details"}}
<p>詳しくは言えないけど一方的にお世話になっている <a href="" ng-click="wikipedia('ウィキペディア')">Wikipedia
<span class="glyphicon glyphicon-question-sign"></span>
</a>にしばらく<a href="" ng-click="wikipedia('寄付')">寄付<span class="glyphicon glyphicon-question-sign"></span></a>をしていないので、誰かから500円分なにか貰えたら1000円を<a href="" ng-click="wikipedia('ウィキメディア財団')">ウィキメディア財団
<span class="glyphicon glyphicon-question-sign"></span>
</a>に寄付します。</p>
<p>ようするに、Wikipediaに500円ずつ僕と<a href="" ng-click="wikipedia('割り勘')">割り勘<span class="glyphicon glyphicon-question-sign"></span></a>で寄付しようぜって話ですね。</p>
<p>※1万円とか突っ込まれても2万円寄付したりしません。</p>

<h3>2014-08-17更新</h3>

<p><a href="http://twitter.com/kashira2010" target="_blank">しら(@kashira2010)</a>様より Amazonギフト券にて500円支援いただきましたので、さっそく寄付を行いました。</p>

<p><img src="wikipedia01.png" class="img-responsive img-thumbnail"></p>

<blockquote class="twitter-tweet" lang="ja"><p><a href="https://twitter.com/shimariso">@shimariso</a> IDのせて大丈夫ですよ。&#10;&#10;もし、名前（ハンドル？）も載るなら、メールした名前より「Shira」とか「しら」の方が良いな。&#10;&#10;ツイッターIDと並ばないなら、メールに書いた名前が載っても別に良いんだけど。</p>&mdash; k@shira*Z* (@kashira2010) <a href="https://twitter.com/kashira2010/statuses/500990659596013568">2014, 8月 17</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{{end}}
