{{define "details"}}
<p>と言っても、<a href="" ng-click="wikipedia('WordPress')">WordPress<span class="glyphicon glyphicon-question-sign"></span></a>は<a href="http://ja.wordpress.org/upgrade/" target="_blank">セルフでアップグレード</a>出来るのでそれ自体はそれほど重要ではないかもしれません。ApacheやPHPをはじめ、OS全体が更新されるというメリットは少なくともあると思います。</p>

<p>Walbrixの<a href="" ng-click="wikipedia('仮想アプライアンス')">仮想アプライアンス<span class="glyphicon glyphicon-question-sign"></span></a>は私の時間がある時に追加したり更新したりしてるのですが、無料で提供しているため<a href="http://www.walbrix.com/jp/" target="_blank">会社</a>の売上に（少なくとも直接は）なりません。よって代表である私の月給も 85,000円のままビタイチ増えません。というわけで、せめて食料など恵んでいただけたら生きていけます。食料じゃなくてフィギュアなら和みます。</p>

<p><a href="http://wpdocs.sourceforge.jp/Version_3.6" target="_blank">WordPress 3.6変更点</a></p>
<p><a href="http://wpdocs.sourceforge.jp/Version_3.7" target="_blank">WordPress 3.7変更点</a></p>
<p><a href="http://wpdocs.sourceforge.jp/Version_3.6" target="_blank">WordPress 3.8変更点</a></p>
<p><a href="http://wpdocs.sourceforge.jp/Version_3.6" target="_blank">WordPress 3.9変更点</a></p>

<h3>2014-08-18更新</h3>

<p>Amaznoギフト券にて 1,000円のご支援をいただきました。目標額達成です。実行完了したらこのページでお知らせします（し、<a href="http://twitter.com/wbsupport" target="_blank">公式にアナウンス</a>もするでしょう）。</p>

{{end}}
