{{define "details"}}

<p><a href="http://www.walbrix.net" target="_blank">Walbrix</a>用の <a href="" ng-click="wikipedia('Zabbix')">Zabbix</a>仮想アプライアンスを最新版に更新する作業をします。</p>

<p>Walbrixの仮想アプライアンスは私の時間がある時に追加したり更新したりしてるのですが、無料で提供しているため<a href="http://www.walbrix.com/jp/" target="_blank">会社</a>の売上に（少なくとも直接は）なりません。よって代表である私の月給も 85,000円のままビタイチ増えません。というわけで、せめて食料など恵んでいただけたら生きていけます。食料じゃなくてフィギュアなら和みます。</p>

<h3>Version 2.2.0 -> 2.2.5 の変更点</h3>

<p><a href="http://www.zabbix.com/rn2.2.1.php" target="_blank">Zabbix 2.2.1の変更点</a> (zabbix.com 英語)</p>
<p><a href="http://www.zabbix.com/rn2.2.2.php" target="_blank">Zabbix 2.2.2の変更点</a> (zabbix.com 英語)</p>
<p><a href="http://www.zabbix.com/rn2.2.3.php" target="_blank">Zabbix 2.2.3の変更点</a> (zabbix.com 英語)</p>
<p><a href="http://www.zabbix.com/rn2.2.4.php" target="_blank">Zabbix 2.2.4の変更点</a> (zabbix.com 英語)</p>
<p><a href="http://www.zabbix.com/rn2.2.5.php" target="_blank">Zabbix 2.2.5の変更点</a> (zabbix.com 英語)</p>

{{end}}
